<div class="ui bottom attached tab segment" data-tab="cart-summary">
  <div class="ui grid">
    <div class="eight wide column">
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :show_price_total, data: { refresh_form: true } %>
          <%= f.label :show_price_total %>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :show_food_count, data: { refresh_form: true } %>
          <label>Show count of foods with health labels (see "Labeling" tab)</label>
        </div>
      </div>

      <div class="ui segment nested-fields <%= 'disabled' unless condition.show_food_count %>">
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :food_count_format, Condition.food_count_formats.ratio, disabled: !condition.show_food_count, data: { refresh_form: true } %>
            <label>Show as ratio ("8 out of 20 products")</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :food_count_format, Condition.food_count_formats.percent, disabled: !condition.show_food_count, data: { refresh_form: true } %>
            <label>Show as percent ("40% of products")</label>
          </div>
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="field cart-summary-label-preview">
        <label>Preview</label>
        <%
          # NOTE: if the UI of the grocery store's checkout page changes,
          # these images will also need updating.
        %>
        <div class="ui segment cart-preview">
          <%= image_tag ('checkout_top.png')%>

          <% if condition.show_food_count %>
            <div class="label-summary">
              <%= condition.preview_cart_summary_label %>
            </div>
          <% end %>

          <div class="summary-images">
            <% @condition.preview_cart_image_urls.compact.each do |image_url| %>
              <%= image_tag (image_url), class: 'summary-image' %>
            <% end %>
          </div>

          <% if condition.show_price_total? %>
            <%= image_tag ('checkout_total.png')%>
          <% end %>
          <%= image_tag ('checkout_bottom.png')%>
        </div>
      </div>
    </div>
  </div>

  <div class="page-sub-heading">
    <h3>Conditional images</h3>
  </div>

  <div class="segments" data-cart-summary-labels>
    <%= f.fields_for :condition_cart_summary_labels do |condition_cart_summary_label| %>
      <%= render 'condition_cart_summary_label_fields', f: condition_cart_summary_label %>
    <% end %>
  </div>

  <div class="field">
    <%=
      link_to_add_association(
        f,
        :condition_cart_summary_labels,
        {
          class: 'ui tiny button',
          partial: 'condition_cart_summary_label_fields',
          'data-association-insertion-node' => '[data-cart-summary-labels]',
          'data-association-insertion-method' => 'append'
        }
      ) do
    %>
      <i class="add icon"></i>
      Add a cart summary image
    <% end %>

  </div>
</div>
