<div class="ui segment">
  <div class="ui grid">
    <div class="row">
      <div class="eight wide column">
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :label_type, 'provided', data: { refresh_form: true } %>
            <label>Use provided label</label>
          </div>
          <div class="ui segment nested-fields <%= 'disabled' unless condition.label_type == 'provided' %>">
            <div class="field">
              <%= f.label :label_id %>
              <%=
                f.collection_select(
                  :label_id,
                  Label.built_in,
                  :id,
                  :name,
                  { include_blank: true },
                  class: 'ui dropdown',
                  data: { refresh_form: true },
                  disabled: condition.label_type != 'provided'
                )
              %>
            </div><%# field %>
          </div><%# nested_fields %>
        </div><%# field %>

        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :label_type, 'custom', data: { refresh_form: true } %>
            <label>Use custom label</label>
          </div>

          <div class="ui segment nested-fields <%= 'disabled' unless condition.label_type == 'custom' %>">
            <%= f.fields_for :label, condition.custom_label do |custom_label_fields| %>
              <%= custom_label_fields.hidden_field :built_in %>
              <div class="field">
                <%= custom_label_fields.label :name %>
                <%= custom_label_fields.text_field :name, disabled: condition.label_type != 'custom' %>
              </div>
              <% if custom_label_fields.object.image? %>
                <div class="field">
                  <label>Current image</label>
                  <%= link_to(custom_label_fields.object.name.presence || 'Unnamed', custom_label_fields.object.image_url) %>
                </div>
                <div class="field">
                  <%= custom_label_fields.label :image, 'Replace image' %>
                  <%= custom_label_fields.file_field :image, data: { refresh_form: true }, disabled: condition.label_type != 'custom' %>
                  <%= custom_label_fields.hidden_field :image_cache %>
                </div>
              <% else %>
                <div class="required field">
                  <%= custom_label_fields.label :image, 'Upload image' %>
                  <%= custom_label_fields.file_field :image, data: { refresh_form: true }, disabled: condition.label_type != 'custom' %>
                </div>
              <% end %>
            <% end %>
          </div><%# nested_fields %>
        </div><%# field %>
      </div><%# column %>

      <div class="eight wide column">
        <div class="field">
          <label>Preview</label>
          <div class="ui segment">
            TODO
          </div>
        </div><%# field %>
      </div><%# column %>
    </div><%# row %>

    <div class="row">
      <div class="ten wide column">
        <div
          data-calculator
          data-variables="<%= Equation.individual_product_variables.to_json %>"
          data-input-name="condition[label_equation_tokens]"
          data-tokens="<%= condition.label_equation_tokens || [] %>"
          data-equation-type="label"
        ></div>
      </div><%# column %>
    </div><%# row %>
  </div><%# grid %>
</div><%# segment %>
