<div class="ui bottom attached tab segment" data-tab="labeling" data-radio-button-subform>
  <% if condition.label && condition.label.image? %>
    <style>
      .overlay {
        background-image: url('<%= condition.label.image.url %>');
        background-position: <%= condition.label_position %>;
        background-size: <%= condition.label_size %>%;
      }
    </style>
  <% end %>

  <div class="ui grid">
    <div class="eight wide column">
      <div class="grouped fields">
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :label_type, 'none', data: { refresh_form: true } %>
            <label>No label</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :label_type, 'custom', data: { refresh_form: true } %>
            <label>Use custom label</label>
          </div>
          <div class="ui segment nested-fields">
            <%= f.fields_for :label, condition.custom_label do |custom_label_fields| %>
              <%= custom_label_fields.hidden_field :built_in %>
              <div class="field">
                <%= custom_label_fields.label :name %>
                <%= custom_label_fields.text_field :name %>
              </div>
              <% if custom_label_fields.object.image? %>
                <div class="field">
                  <label>Current image</label>
                  <%= link_to(custom_label_fields.object.name.presence || 'Unnamed', custom_label_fields.object.image_url) %>
                </div>
                <div class="field">
                  <%= custom_label_fields.label :image, 'Replace image' %>
                  <%= custom_label_fields.file_field :image, data: { refresh_form: true } %>
                  <%= custom_label_fields.hidden_field :image_cache %>
                </div>
              <% else %>
                <div class="required field">
                  <%= custom_label_fields.label :image, 'Upload image' %>
                  <%= custom_label_fields.file_field :image, data: { refresh_form: true } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button :label_type, 'provided', data: { refresh_form: true } %>
            <label>Use provided label</label>
          </div>
          <div class="ui segment nested-fields">
            <div class="field">
              <%= f.label :label_id %>
              <%=
                f.collection_select(
                  :label_id,
                  Label.built_in,
                  :id,
                  :name,
                  { include_blank: true },
                  class: 'ui dropdown',
                  data: { refresh_form: true }
                )
              %>
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="two fields">
        <div class="field">
          <%= f.label :label_position %>
          <%= f.select(:label_position, condition.label_position_options, {}, class: 'ui dropdown', data: { refresh_form: true }) %>
        </div>
        <div class="field">
          <%= f.label :label_size %>
          <div class="ui right labeled input">
            <%= f.text_field :label_size, data: { refresh_form: true } %>
            <div class="ui basic label">%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="field label-preview">
        <label>Preview</label>
        <div class="ui segment">
          <%= image_tag 'apple.png' %>
          <div class="overlay"></div>
        </div>
      </div>
    </div>

    <div class="ten wide column">
      <div
        data-calculator
        data-variables="<%= Equation.individual_product_variables.to_json %>"
        data-input-name="condition[label_equation_tokens]"
        data-tokens="<%= condition.label_equation_tokens || [] %>"
        data-equation-type="label"
      ></div>
    </div>
  </div>
</div>
