<div class="ui bottom attached tab segment" data-tab="labeling">
  <% condition.condition_labels.each do |condition_label| %>
    <% if condition_label.try(:label).try(:image) %>
      <style>
        .overlay-<%= condition_label.object_id %> {
          background-image: url('<%= condition_label.image_url %>');
          background-position: <%= condition_label.position %>;
          background-size: <%= condition_label.size %>%;
        }
      </style>
    <% end %>
  <% end %>

  <div class="ui grid">
    <div class="eight wide column">
      <div class="inline field">
        <div class="ui checkbox">
          <%= f.check_box :show_guiding_stars %>
          <%= f.label :show_guiding_stars %>
        </div>
      </div>

      <div data-condition-labels>
        <%= f.fields_for :condition_labels do |condition_labels| %>
          <%= render 'condition_label_fields', f: condition_labels %>
        <% end %>
      </div>

      <div class="field">
        <%=
          link_to_add_association(
            f,
            :condition_labels,
            {
              class: 'ui tiny button',
              partial: 'condition_label_fields',
              'data-association-insertion-node' => '[data-condition-labels]',
              'data-association-insertion-method' => 'append'
            }
          ) do
        %>
          <i class="add icon"></i>
          Add a label
        <% end %>
      </div>
    </div>

    <div class="eight wide column">
      <div class="field label-preview">
        <label>Preview</label>
        <div class="ui segment">
          <%= image_tag 'apple.png' %>
          <% condition.condition_labels.each do |condition_label| %>
            <div class="overlay overlay-<%= condition_label.object_id %>"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
