<div class="ui bottom attached tab segment" data-tab="labeling">
  <style>
    <% condition.condition_labels.each do |condition_label| %>
      <% if condition_label.try(:label).try(:image) %>
        <% if condition_label.below_button? %>
          .below-button-<%= condition_label.object_id %> {
            width: <%= condition_label.size %>%;
          }
        <% else %>
          .overlay-<%= condition_label.object_id %> {
            background-image: url('<%= condition_label.image_url %>');
            background-position: <%= condition_label.position %>;
            background-size: <%= condition_label.size %>%;
          }
        <% end %>
      <% end %>
    <% end %>
  </style>

  <div class="ui grid">
    <div class="eight wide column">
      <div class="inline field">
        <div class="ui checkbox">
          <%= f.check_box :show_guiding_stars %>
          <%= f.label :show_guiding_stars, 'Show healthy stars' %>
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="field label-preview">
        <label>Preview</label>
        <div class="ui segment">
          <div class="product-image-container">
            <%= image_tag 'apple.png', class: 'product' %>
            <% condition.condition_labels.select(&:overlay?).each do |condition_label| %>
              <div class="overlay overlay-<%= condition_label.object_id %>" data-content="<%= condition_label.tooltip_text %>"></div>
            <% end %>
          </div>
          <div class="add-to-cart-container">
            <%= image_tag 'add_to_cart.png', class: 'add-to-cart' %>
            <% condition.condition_labels.select(&:below_button?).each do |condition_label| %>
              <div class="below-button-container">
                <%=
                  image_tag(
                    condition_label.image_url,
                    class: "below-button-#{condition_label.object_id}",
                    data: { content: condition_label.tooltip_text }
                  )
                %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-sub-heading">
    <h3>Conditional images</h3>
  </div>

  <div class="segments" data-condition-labels>
    <%= f.fields_for :condition_labels do |condition_labels| %>
      <%= render 'condition_label_fields', f: condition_labels %>
    <% end %>
  </div>

  <div class="field">
    <%=
      link_to_add_association(
        f,
        :condition_labels,
        {
          class: 'ui tiny button',
          partial: 'condition_label_fields',
          'data-association-insertion-node' => '[data-condition-labels]',
          'data-association-insertion-method' => 'append'
        }
      ) do
    %>
      <i class="add icon"></i>
      Add a label
    <% end %>
  </div>
</div>
