<%= render 'layouts/breadcrumbs' %>

<div class="page-heading">
  <h2>Edit Condition: <%= @condition.name %></h2>
  <div class="heading-buttons">

    <%= link_to experiment_condition_path(@experiment, @condition), method: :delete, data: { modal_confirm: 'Are you sure you want to delete this condition and all its data?' }, class: 'ui button' do %>
      <i class="remove icon"></i> Delete Condition
    <% end %>
  </div>
</div>

<% if @condition.persisted? %>
  <span class="field-name">URL for this condition:</span> <%= @condition.url %>
  <div class="ui hidden divider"></div>
<% end %>

<%= render 'form', experiment: @experiment, condition: @condition %>
