<%= render 'layouts/breadcrumbs' %>

<div class="page-heading">
  <h2><%= @condition.name %></h2>
</div>

<div class="ui top attached tabular menu">
  <div class="active item" data-tab="basic-info">Basic Information</div>
  <div class="item" data-tab="labeling">Labeling</div>
  <div class="item" data-tab="sorting">Sorting</div>
  <div class="item" data-tab="categories">Categories</div>
  <div class="item" data-tab="cart-summary">Cart Summary</div>
  <div class="item" data-tab="nutrition-facts">Nutrition Facts</div>
  <div class="item" data-tab="budgeting">Budgeting</div>
</div>

<%= render "basic_info_tab" %>
<%= render "labeling_tab" %>
<%= render "sorting_tab" %>
<%= render "categories_tab" %>
<%= render "cart_summary_tab" %>
<%= render "nutrition_facts_tab" %>
<%= render "budgeting_tab" %>

<div class="button-wrapper right">
  <button type="submit" class="ui positive button" data-tab-submit>
    <i class="check icon"></i>
    Update Condition
  </button>
</div>
