<div class="page-sub-heading">
  <h3>Custom Product Prices</h3>

  <div class="heading-buttons">
    <%=
      link_to(
        custom_product_prices_condition_product_download_path(condition),
        class: 'ui right floated button',
        data: { loading_spinner: true, remote: true }
      ) do
    %>
      <i class="download icon"></i> Download Template
    <% end %>
  </div>
</div>

<div class="page-sub-heading">
  <strong>Instructions: </strong>
</div>
<div>
  To add a custom price, download the file template using
  the button above. Once you have added the custom price, re-upload the
  file below and save. The current file will appear on the left with a check box next to it.
  To remove the current file, uncheck the box. To replace the file, just upload
  a new one. Removed and replaced files will appear on the right below.
</div>

<div class="ui hidden divider"></div>

<div class="two fields">
  <div class="field">
    <label class="custom-price">Current file</label>
    <% if condition.current_product_price_csv_file %>
      <%= f.fields_for :product_price_csv_files, condition.current_product_price_csv_file do |tag_csv_fields| %>
        <div class="ui inline checkbox field">
          <%= tag_csv_fields.check_box(:active) %>
          <%= tag_csv_fields.label(:active) do %>
            <%= ConfigFilePresenter.download_link(condition.current_product_price_csv_file) %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      None
    <% end %>
  </div>

  <div class="field">
    <%= f.label :new_product_price_file, 'Replace file' %>
    <%= f.file_field :new_product_price_file %>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui grid">
  <div class="eight wide column">
    <div class="field">
      <label>Display Settings</label>
      <div class="ui checkbox">
        <%= f.check_box :display_old_price %>
        <%= f.label :display_old_price, 'Show the old price as discount' %>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <%=
      render(
        'config_files/historical_files_table',
        files: condition.product_price_csv_files.historical
      )
    %>
  </div>
</div>
