<%= render 'layouts/breadcrumbs' %>

<div class="page-heading">
  <h2>Add Condition to <%= @experiment.name %></h2>
</div>

<%= form_for @condition, url: create_condition_experiment_path(@experiment), html: { class: "ui form" } do |f| %>
  <div class="one fields">
    <div class="required field">
      <%= f.label :name do %>Condition Name<% end %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="sixteen wide right aligned field">
    <button type="submit" class="ui positive button">
      <i class="check icon"></i>
      Create Condition
    </button>
  </div>
<% end %>
