<%= render 'layouts/breadcrumbs' %>

<div class="page-heading">
  <h2><%= @experiment.name %></h2>
  <div class="buttons">
    <%= link_to edit_experiment_path(@experiment), class: 'ui button' do %>
      <i class="pencil icon"></i> Edit Experiment
    <% end %>

    <%= link_to download_data_experiment_url(@experiment), class: 'ui button' do %>
      <i class="download icon"></i> Download Data
    <% end %>
  </div>
</div>

<br>

<div class="page-sub-heading">
  <h3>Conditions</h3>

  <div class="buttons">
    <%= link_to new_experiment_condition_path(@experiment), class: 'ui primary button' do %>
      <i class="add icon"></i> Add Condition
    <% end %>
  </div>
</div>

<table class="ui compact selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @conditions.each do |condition| %>
      <tr data-action="table-link" data-href="<%= edit_experiment_condition_path(@experiment, condition) %>">
        <td>
          <%= condition.name %>
        </td>
      </tr>
    <% end %>
    <% if @conditions.none? %>
      <tr>
        <td>
          <p class="note">You have not yet added any conditions</p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

