<!DOCTYPE html>
<html>
  <head>
    <title>HowesGroceryResearcherPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'style' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
