<!DOCTYPE html>
<html>
  <head>
    <title>Howe's Grocery Researcher Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'style' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/primary_navigation' %>
    </header>

    <main>
      <div id="main" class="content ui container segment" >
        <div id="page-content">
          <div class="ui info message">
            <p>
              <strong>Reminder:</strong> The Open Science Online Grocery
              researcher portal and store are only available Monday through
              Friday from 6:00 AM to 8:00 PM Eastern Time.
            </p>
          </div>
          <div class="ui short hidden divider"></div>
          <%= MessagesPresenter.new(flash, @messages).show_messages %>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/confirm_modal' %>
    </main>
  </body>
</html>
