<!DOCTYPE html>
<html>
  <head>
    <title>Howe's Grocery Researcher Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'style' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/primary_navigation' %>
    </header>
    <main>
      <div id="main" class="ui container segment" >
        <div id="page-content">
          <%= MessagesPresenter.new(flash, @messages, self).show_messages %>

          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
