<!DOCTYPE html>
<html>
  <head>
    <title>Howe's Grocery Researcher Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'style' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="ui centered grid container" id="authentication-main">
      <div class="doubling two column row">
        <div class="column">
          <%= MessagesPresenter.new(flash, @messages, self).show_messages %>
          <div id="authentication-header">
            <%= image_tag('logo_green.png') %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
